@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Indie+Flower&family=Jost:wght@100;300;400&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,700&family=PT+Serif:ital@0;1&family=Roboto:ital,wght@0,100;1,100;1,300&family=Rubik+Doodle+Shadow&family=Sofia&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap');

$button-primary-color: #00f;
$button-secondary-color: #0f0;
$button-primary-color-hover: #1c0d63;
$button-secondary-color-hover: #0ea81b;
$button-text-color: #f7f7f7;
$button-terrestrial-color: #c51691;
$button-terrestrial-color-hover: #530f53;
$white: #fff;
$blue-gradient: rgb(31, 118, 126);
$blue-gradient-background: linear-gradient(45deg, rgba(30,73,77,1) 0%, rgba(0,158,255,1) 38%, rgba(65,38,128,1) 70%, rgba(25,36,147,1) 96%);
$green-background: rgb(147,144,20);
$green-gradient-background: linear-gradient(293deg, rgba(147,144,20,1) 0%, rgba(176,255,0,1) 33%, rgba(38,128,108,1) 70%, rgba(38,227,221,1) 96%);
$red-background: rgb(147,77,20);
$red-gradient-background: linear-gradient(23deg, rgba(147,77,20,1) 0%, rgba(255,209,0,1) 33%, rgba(206,67,223,1) 70%, rgba(227,38,53,1) 96%);
$purple-background: rgb(83,20,147);
$purple-gradient-background: linear-gradient(180deg, rgba(83,20,147,1) 0%, rgba(161,0,255,1) 23%, rgba(234,225,235,1) 65%, rgba(252,248,249,1) 77%);
$yellow-background: rgb(147,77,20);
$yellow-gradient-background: linear-gradient(180deg, rgba(147,77,20,1) 0%, rgba(255,189,0,1) 23%, rgba(234,225,235,1) 65%, rgba(252,248,249,1) 77%);