body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --button-primary-color: #00f;
  --button-secondary-color: #0f0;
  --button-primary-color-hover: #1c0d63;
  --button-secondary-color-hover: #0ea81b;
  --button-text-color: #f7f7f7;
  --button-terrestrial-color: #c51691;
  --button-terrestrial-color-hover: #530f53;
  --dark-mode-background-color: #021827;
  --dark-mode-color: #eee;
  --light-mode-background-color: #60afe4;
  --light-mode-color: #031620;
}

.dark-mode {
  background-color: var(--dark-mode-background-color);
  color: var(--dark-mode-color);
}

.light-mode {
  background-color: var(--light-mode-background-color);
  color: var(--light-mode-color);
}